h3
{
  font-size: 25px !important;
}

canvas {
  border:2px dotted rgb(196, 1, 255);
  animation-name: borda;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes borda {
  from {box-shadow: 1px 1px 38px rgb(0, 9, 111);}
  to {box-shadow: 1px 1px 38px orangered;}

  
}